body {
background-color: #D8D8D8;

}

img {
    width:  100px;
    height: 100px;
}

#nav-bar{
  /*position: fixed;*/
  width: 99%;
  border: 1px solid #979797;
  /*z-index:10;*/
  background-color: #add8e6;
}

/*#nav-bar ul {
  list-style:none;
}*/

#nav-bar ul li {
  float:right;
  font-size:33px;
  padding:0 10px;

}

#navbar-logo {
  font-size:40px;
  font-weight: bold;
  margin-top:50px;
  text-align: center;
  font-color:black;
}

.blue-link a, .blue-link a:visited, .blue-link a:hover, .blue-link a:active {
  color: inherit;
  text-decoration: none;
  color:#6288FB;
}

header {
font-size:40px;
text-align: center;
margin-top: 50px;
font-weight: bold;
font-color: blue;


}

li {

  font-size:20px;
}

h1 {
  /*float:left;*/
  margin-top:100px;
}

article {
  float:left;
  margin-top:0px;
}
