/*body {

font-family: courier;

}*/

.highlight_text {
  background-color: #CDC9C9;
}

/*.highlight {
  background-color: red;
}
*/

/*.first{
  background-color:#0066FF;
}


.second{
  background-color:#CCFFFF;
}

.trollStuff {

background-color:purple;
}

.updateStuff {
background-color:green;

}

.statItemsStyle {
background-color:blue;

}
*/
